<%= javascript_include_tag 'texas' %>
<!-- 自分以外のプレイヤーを表示 -->
<div class="other_players_container">
<% i = @table.players.index(@my) %>
<% psize = @table.players.size %>
<% (psize-1).times do %>
  <% i = (i + 1) % psize %>
  <% user = @table.players[i] %>
  <% if user == @table.turn_user %>
    <div class="other_players" data-user_id="<%= user.user_id %>" style="box-shadow: 0px 0px 1px 3px #FDC44F">
  <% else %>
    <div class="other_players" data-user_id="<%= user.user_id %>">
  <% end %>
    <%= user.name %>
    <% if user == @table.btn %>&#9401;<% end %>
    <% if user == @table.sb %>&#9416;<% end %>
    <% if user == @table.bb %>&#9399;<% end %>
    <br>
    <% 2.times do |j| %>
      <% if user.fold_flg %>
        <div class="card_hidden" data-card_id="<%= j %>">　<br>　</div>
      <% else %>
        <% if @table.phase == "finish" %>
          <% card = user.hand[j] %>
          <% case card[2] %>
          <% when "s" %>
          <div class="card_black" data-card_id="<%= j %>"><%= card[0,2].to_i %><br>&spades;</div>
          <% when "c" %>
          <div class="card_black" data-card_id="<%= j %>"><%= card[0,2].to_i %><br>&clubs;</div>
          <% when "h" %>
          <div class="card_red" data-card_id="<%= j %>"><%= card[0,2].to_i %><br>&hearts;</div>
          <% when "d" %>
          <div class="card_red" data-card_id="<%= j %>"><%= card[0,2].to_i %><br>&diams;</div>
          <% end %>
	<% else %>
          <div class="card_ura" data-card_id="<%= j %>">　<br>　</div>
        <% end %>
      <% end %>
    <% end %>
    <div class="keep_tip">keep: $<%= user.keep_tip %></div>
    <div class="bet_tip">bet: $<%= user.bet_tip %></div>
  </div>
<% end %>
</div>

<!-- テーブルを表示 -->
<div class="game_table">
  <div class="table_tip">$<%= @table.tip %></div>
  <div class="table_cards">
  <% 5.times do |i| %>
    <% card = @table.upcards[i] %>
    <% if card.nil? %>
      <div class="card_ura" data-card_id="<%= i %>">　<br>　</div>
    <% else %>
      <% case card[-1] %>
      <% when "s" %>
      <div class="card_black" data-card_id="<%= i %>"><%= card[0,2].to_i %><br>&spades;</div>
      <% when "c" %>
      <div class="card_black" data-card_id="<%= i %>"><%= card[0,2].to_i %><br>&clubs;</div>
      <% when "h" %>
      <div class="card_red" data-card_id="<%= i %>"><%= card[0,2].to_i %><br>&hearts;</div>
      <% when "d" %>
      <div class="card_red" data-card_id="<%= i %>"><%= card[0,2].to_i %><br>&diams;</div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>

<!-- 自分のプレイヤーを表示 -->
<% if @my == @table.turn_user %>
  <div class="my_player" data-user_id="<%= @my.user_id %>" style="box-shadow: 0px 0px 1px 3px #FDC44F">
<% else %>
  <div class="my_player" data-user_id="<%= @my.user_id %>">
<% end %>
  <%= @my.name %>
  <% if @my == @table.btn %>&#9401;<% end %>
  <% if @my == @table.sb %>&#9416;<% end %>
  <% if @my == @table.bb %>&#9399;<% end %>
  <br>
  <% 2.times do |j| %>
    <% if @my.fold_flg %>
      <div class="card_hidden" data-card_id="<%= j %>">　<br>　</div>
    <% else %>
      <% card = @my.hand[j] %>
      <% case card[2] %>
      <% when "s" %>
      <div class="card_black" data-card_id="<%= j %>"><%= card[0,2].to_i %><br>&spades;</div>
      <% when "c" %>
      <div class="card_black" data-card_id="<%= j %>"><%= card[0,2].to_i %><br>&clubs;</div>
      <% when "h" %>
      <div class="card_red" data-card_id="<%= j %>"><%= card[0,2].to_i %><br>&hearts;</div>
      <% when "d" %>
      <div class="card_red" data-card_id="<%= j %>"><%= card[0,2].to_i %><br>&diams;</div>
      <% end %>
    <% end %>
  <% end %>
  <div class="keep_tip">keep: $<%= @my.keep_tip %></div>
  <div class="bet_tip">bet: $<%= @my.bet_tip %></div>

</div>

<div class="action_button">
  <% if @my == @table.turn_user %>
  <div class="buttons">
  <% else %>
  <div class="buttons" hidden>
  <% end %>

  <% if @table.btns_flg %>
  <button id="fold">Fold</button>
  <button id="call">Call</button>
  <button id="check" hidden>Check</button>
  <button id="raise">Raise</button>
  <button id="bet" hidden>Bet</button>
  <input type="number" id="num" min=1 value=1 />
  <% else %>
  <button id="fold">Fold</button>
  <button id="call" hidden>Call</button>
  <button id="check">Check</button>
  <button id="raise" hidden>Raise</button>
  <button id="bet">Bet</button>
  <input type="number" id="num" min=1 value=1 />
  <% end %>

  </div>
</div>

<div class="regame_buttons" hidden>
  <%# 再プレイ、退室などのボタン表示 %>
  <ul class="button">
    <li><button id="regame">One More Game</button></li>
  </ul>
</div>

<%# デバッグ用 %>
<div id="debug">
</div>
