<%= javascript_include_tag 'texas' %>
<div class="other_players_container">
<% @login_users.each do |user| %>
  <% if user.user_id != @my.user_id then %>
    <div class="other_players">
      <%= user.name %><br>
      <div class="card_ura"></div>
      <div class="card_ura"></div>
      <div class="tip">keep: $<%= user.keep_tip %></div>
      <div class="tip">bet: $<%= user.bet_tip %></div>
    </div>
  <% end %>
<% end %>
</div>

<div class="game_table">
  <% @table.omote.times do |n| %>
  <% case @table.cards[n][2] %>
  <% when "s" %>
  <div class="card_black"><%= @table.cards[n][0,2].to_i %><br>&spades;</div>
  <% when "c" %>
  <div class="card_black"><%= @table.cards[n][0,2].to_i %><br>&clubs;</div>
  <% when "h" %>
  <div class="card_red"><%= @table.cards[n][0,2].to_i %><br>&hearts;</div>
  <% when "d" %>
  <div class="card_red"><%= @table.cards[n][0,2].to_i %><br>&diams;</div>
  <% end %>
  <% end %>
  <% (5 - @table.omote).times do %>
  <div class="card_ura">　<br>　</div>
  <% end %>
</div>

<div class="my_player">
  <%= @my.name %>（自分）<br>
  <% @my.hand.each do |card| %>
    <% case card[2] %>
    <% when "s" %>
    <div class="card_black"><%= card[0,2].to_i %><br>&spades;</div>
    <% when "c" %>
    <div class="card_black"><%= card[0,2].to_i %><br>&clubs;</div>
    <% when "h" %>
    <div class="card_red"><%= card[0,2].to_i %><br>&hearts;</div>
    <% when "d" %>
    <div class="card_red"><%= card[0,2].to_i %><br>&diams;</div>
    <% end %>
  <% end %>
  <div class="tip">keep: $<%= @my.keep_tip %></div>
  <div class="tip">bet: $<%= @my.bet_tip %></div>
</div>


<br>
<br>
<br>
<br>
<br>
<p>以下、デバッグ用</p>
login_users:<br>
<%= @login_users %><br>
<br>
cards:<br>
<%= @table_cards %>
